* text=auto
*.asm text eol=lf
*.inc text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.asmlab text eol=lf
Makefile text eol=lf
bin/asmlab binary
*.png binary
bin/asmlab-debug binary
*.json text eol=lf
